@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Outfit", sans-serif;

  --color-brand-paper: #fdfbf7;
  --color-brand-slate: #1e293b;
  --color-brand-gold: #b59a5a;
  --color-brand-gold-light: #d4c391;
}

@layer base {
  body {
    @apply bg-brand-paper text-brand-slate font-sans antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}
